<!DOCTYPE html>
<html lang="az">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>

     <!------ header-start ------>
     <%- include('./header.ejs') %>    
     <!------ header-end ------->

    
  <!------ about-start ------>  
    <section>
        <div class="container">
            <div class="about">
                <img src="img/img5.png" alt="">
            </div>
            <div class="about-text">
                <h1>Biz, texnologiya və mədəniyyətin kəsişməsində çalışan müstəqil bir yaradıcı agentiyik. Müasir brendləri istifadə və müzakirə etmək üçün maraqlı edirik.</h1>
                <p>Self Agency şirkət və brendinizin yüksək hədəf auditoriyasına çatması və tanınması üçün peşəkar 360 dərəcə reklam xidmətləri təklif edir. Brendinizin qısa müddətdə yüksək səviyyədə tanınması işini bizə həvalə edin!</p>
                <p>Şablon həllərindən istifadə etmirik, hər dəfə yeni bir yaradıcı fikir axtarırıq. Eyni zamanda, agentliyin bənzərsiz bir yanaşması kimi yaradıcılıqdan danışmırıq - çünki bu brendləşmədə nəzərdə tutulur. Bu sehr deyil, iş axınının bir hissəsidir.</p>
                <p>Biz ayrı bir layihə üzərində işləmirik. Təcrübə göstərir ki, ən yaxşı nəticə fikir mübadiləsi mühitində baş verir, buna görə də bütün maraqlı tərəflərlə sıx əməkdaşlıq etməyə çalışırıq.</p>
            </div>
        </div>
    </section>
  <!------ about-start ------>
    

     <!------ footer-start ------>
     <%- include('./footer.ejs') %>    

     <!------ footer-end ------>


    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/6920cc4a68.js"></script>
    <script src="js/js.js"></script>
</body>

</html>