<!DOCTYPE html>
<html lang="az">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>

    <!------ header-start ------>
    <%- include('./header.ejs') %>    

    <!------ header-end ------->


    <!------ left-right-start ------>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-12 col-xs-12">
                    <div class="left-part">
                        <div class="left-item">
                            <h1>Əlaqə</h1>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.3058292532796!2d49.876508114932506!3d40.37991397936942!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307ce1e5959b69%3A0x6f2eb5b63b2f56d1!2sAMAY%20Shopping%20Center!5e0!3m2!1str!2s!4v1620821089247!5m2!1str!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>                        </div>
                        <div class="left-part-text">
                            <h2>23 Nobel Prospekti, Bakı 1000, Azərbaycan</h2>
                            <h2>+994 00 000 00 00</h2>
                            <h2>info@self.az</h2>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-12 col-xs-12">
                    <div class="right-part">
                       <div class="right-text">
                            <p>Rəyləriniz bizim üçün çox vacibdir. Düşüncələriniz, suallarınız, xüsusiyyət istəkləriniz və ya səhv hesabatlarınızla bizə mesaj göndərməkdən çəkinməyin.</p>
                       </div>
                        <div class="right-register">
                            <form action="/contact" method="POST" class="">
                                <div>
                                    <label for="" class="form-label">Ad</label>
                                    <input type="username" placeholder="Adınızı daxil edin" name="name" class="username-input">
                                    <div data-error="username"></div>
                                </div>
                                <div>
                                    <label for="" class="form-label">Tel:</label>
                                    <input type="tel" placeholder="Əlaqə nömrənizi daxil edin" name="tell" class="username-input">
                                    <div data-error="tel"></div>
                                </div>
                                <div>
                                    <label for="" class="form-label">E-mail</label>
                                    <input type="email" placeholder="Elektron poçt qutusunu daxil edin" name="email" class="username-input">
                                    <div data-error="email"></div>
                                </div>
                                <div>
                                    <label for="" class="form-label">Mesaj</label>
                                    <textarea id="text" name="message" rows="8" cols="50" class="username-input"></textarea>
                                    <div data-error="text"></div>
                                </div>
                                <div class="form-button">
                                    <button onclick="alert" type="submit">Göndərin</button>
                                </div>
                            </form> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!------ left-right-end ------>
<script>
    function alert() {
        alert('alert')
    }
</script>

         <!------ footer-start ------>
         <%- include('./footer.ejs') %>    

     <!------ footer-end ------>


    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/6920cc4a68.js"></script>
    <script src="js/js.js"></script>
</body>

</html>