<footer>
    
    <div class="col-lg-12">
        <div class="container">
            <div class="col-md-12 col-lg-12 col-12 col-xs-12 footer-down">
                <div class="container">
                    <div class="d-flex">
                        <div class="footer-down-left">
                            <p class="footer-down-title">© 2021 self.az</p>
                        </div>
                        <div class="footer-down-right">
                            <ul>
                                <li><a href="/about">Haqqımızda</a></li>
                                <li><a href="/services">Xidmətlərimiz</a></li>
                                <li><a href="/portfolio">Portfolio</a></li>
                                <li><a href="/career">Karyera</a></li>
                                <li><a href="/contact">Əlaqə</a></li>
                                <li><a href="/blog">Bloq</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>