<header>
    <div class="top-header">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap" rel="stylesheet">        <div class="container">
            <div class="row">
                <div class="img col-md-6 col-lg-6 col-12 col-xs-12 d-flex">
                    <a href="/">
                        <img src="img/self_logo1.png" alt="">
                    </a>
                </div>
                <div class="col-md-6 col-lg-6 col-12 col-xs-12">
                    <div class="nav-bar">
                        <ul>
                            <li><a href="/about">Haqqımızda</a></li>
                            <li><a href="/services">Xidmətlərimiz</a></li>
                            <li><a href="/portfolio">Portfolio</a></li>
                            <li><a href="/career">Karyera</a></li>
                            <li><a href="/contact">Əlaqə</a></li>
                            <li><a href="/blog">Bloq</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>