<!DOCTYPE html>
<html lang="az">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>

    <!------ header-start ------>
    <%- include('header'); -%>

<!------ header-end ------->
    


    <!------ middle-start ------>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-12 col-xs-12">
                    <div class="middle">
                        <div class="middle-img">
                            <img src="img/img21.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-12 col-xs-12">
                    <div class="middle">
                        <div class="middle-img">
                            <img src="img/img22.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-12 col-xs-12">
                    <div class="middle">
                        <div class="middle-img">
                            <img src="img/img23.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-12 col-xs-12">
                    <div class="middle">
                        <div class="middle-img">
                            <img src="img/img24.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-12 col-xs-12">
                    <div class="middle">
                        <div class="middle-img">
                            <img src="img/img25.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-12 col-xs-12">
                    <div class="middle">
                        <div class="middle-img">
                            <img src="img/img26.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-12 col-xs-12">
                    <div class="middle">
                        <div class="middle-img">
                            <img src="img/img27.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-12 col-xs-12">
                    <div class="middle">
                        <div class="middle-img">
                            <img src="img/img28.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-12 col-xs-12">
                    <div class="middle">
                        <div class="middle-img">
                            <img src="img/img29.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-12 col-xs-12">
                    <div class="middle">
                        <div class="middle-img">
                            <img src="img/img30.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-12 col-xs-12">
                    <div class="middle">
                        <div class="middle-img">
                            <img src="img/img31.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-12 col-xs-12">
                    <div class="middle">
                        <div class="middle-img">
                            <img src="img/img32.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!------ middle-end------>

    

    <!------ footer-start------>
    <%- include('footer'); -%>

     <!------ footer-end ------>


    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/6920cc4a68.js"></script>
    <script src="js/js.js"></script>
</body>

</html>