<!DOCTYPE html>
<html lang="az">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>

    
<!------ header-start ------>
   <header>
    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="img col-md-6 col-lg-6 col-12 col-xs-12 d-flex">
                    <a href="index.html">
                        <img src="img/self_logo1.png" alt="">
                    </a>
                </div>
                <div class="col-md-6 col-lg-6 col-12 col-xs-12">
                    <div class="nav-bar">
                        <ul>
                            <li><a href="about.html">Haqqımızda</a></li>
                            <li><a href="services.html">Xidmətlərimiz</a></li>
                            <li><a href="portfolio.html">Portfolio</a></li>
                            <li><a href="career.html">Karyera</a></li>
                            <li><a href="contact.html">Əlaqə</a></li>
                            <li><a href="blog.html">Bloq</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!------ header-end ------->



<!------ single-blog-start ------>
<section>
    <div class="container">
        <div class="single-blog">
            <h1>Gündəmdə</h1>
            <div class="single-blog-img">
                <img src="img/img34.png" alt="">
            </div>
        </div>
        <div class="single-blog-date">
            <p>Apr 27</p>
            <span>15:30</span>
        </div>
        <div class="single-blog-content">
            <div class="single-blog-title">
                <h2>İnterfeysi dizaynı üçün qaydalar</h2>
                <span>İstifadəçi interfeysi dizayn nümunələrinin "niyə" və psixologiyasını öyrənmək istəyən dizaynerlər üçün.</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam unde iste voluptates quia cumque accusantium quas, blanditiis quidem ratione nam est, fugiat ipsa tenetur expedita dolorum voluptate, consectetur molestias consequuntur? Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci saepe accusantium nam sed fuga enim! Laboriosam, eius aperiam! Eaque amet consequuntur eos non beatae commodi cupiditate odio deleniti, molestiae debitis.</p>
                <p>donec Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel alias rem vitae dolores obcaecati dolorem aliquam consequuntur cupiditate ducimus odit, quasi deleniti ab aut, quam architecto eligendi accusamus, tempora exercitationem. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam cum, et necessitatibus animi debitis libero quisquam obcaecati deserunt nihil, at odio veritatis pariatur porro ipsa doloremque beatae? Rerum, quisquam in. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis maiores eveniet quasi a iusto corporis assumenda reprehenderit officiis incidunt ex rem nisi earum facilis, repellendus amet error dolore ratione similique. Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic maxime quaerat dignissimos consequuntur labore dolor fugiat laboriosam nihil sed tenetur nulla quod vel ipsam sint, animi maiores delectus temporibus veritatis?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod blanditiis ab cumque autem similique harum? Quod dolor facere provident, qui quae vitae totam tempore ipsum dicta? Id, impedit! Ducimus, eveniet. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim eos similique harum laudantium fugiat cumque ratione molestiae eveniet debitis ipsum. Molestiae, nesciunt. Inventore fuga, odio iure dolorem corrupti debitis velit?</p>
            </div>
        </div>
        <div class="single-blog-author">
            <p>Müəllif</p>
        </div>
    </div>
</section>
<!------ single-blog-end------>



<!------ footer-start ------>
    <footer>
        <div class="col-lg-12">
            <div class="container">
                <div class="col-md-12 col-lg-12 col-12 col-xs-12 footer-down">
                    <div class="container">
                        <div class="d-flex">
                            <div class="footer-down-left">
                                <p class="footer-down-title">© 2021 self.az</p>
                            </div>
                            <div class="footer-down-right">
                                <ul>
                                    <li><a href="">Haqqımızda</a></li>
                                    <li><a href="">Blog</a></li>
                                    <li><a href="">Portfolio</a></li>
                                    <li><a href="">Xidmətlərimiz</a></li>
                                    <li><a href="">Karyera</a></li>
                                    <li><a href="">Əlaqə</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
<!------ footer-end ------>


<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/6920cc4a68.js"></script>
<script src="js/js.js"></script>
</body>

</html>